<!-- <p>header works!</p> -->

<nav class="navbar">
    <div class="navbar-brand">
        <div style="border-right: 1px solid #ccc;"> 

            <img src="https://www.asus.com/media/Odin/images/header/ROG_normal.svg" alt="Logo" class="logo" />
        </div>

        
        <div  style="border-right: 1px solid #ccc;">
            
            <img src="https://www.asus.com/media/Odin/images/header/ProArt_normal.svg" alt="Logo" class="logo" />
        </div>


        <div style="border-right: 1px solid #ccc;">
            <img src="https://www.asus.com/media/Odin/images/header/IoT_normal.svg" alt="Logo" class="logo" />

        </div>
    </div>
    <div class="links">
        <ul class="navbar-links">
            <li><a (click)="performSearch()">{{ "navbar.gaming" | translate }}</a></li>
            <li><a>{{ "navbar.Commercial products" | translate }}</a></li>
        </ul>
    </div>
  </nav>
  