
<!-- <app-paypal></app-paypal> -->


<router-outlet ></router-outlet>
<div [dir]="lang == 'en' ? 'ltr' : 'rtl'" >

</div>

<!--   
<app-header></app-header>
<app-navbar></app-navbar>  

  <app-main-layout></app-main-layout>
<app-main-div>


  <app-login></app-login>
</app-main-div>
<app-image-grid></app-image-grid>
<app-campaigns></app-campaigns>
<app-filterd-product></app-filterd-product>

<app-product-card></app-product-card>
  <app-product></app-product> 

 <app-product-card></app-product-card> -->
  <!-- <app-product></app-product> -->

  <!-- <app-sign-up></app-sign-up> -->
  <!-- <app-footer></app-footer> -->
<!-- </div>  -->