.coo {
    display: grid;
    grid-template-columns: 60% 40%; /* Increase right column width to 40% */
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.shipping-header{
    font-weight: 600;
    border: none;
    font-size: 2.4rem;
    color: #999;

    margin-bottom: 30px;
    font-family: 'Myriad W08 Semibold', 'Segoe UI', 'Arial', sans-serif;
}
.shipping{
    margin: 2rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
    border: 0;
    padding: 0;
    line-height: 1.42857143;
    font-family: 'Myriad W08 Regular', 'Segoe UI', 'Arial', sans-serif;

}

.checkout-form {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
}

.next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;
}

.name {
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-summary {
    width: 100%; /* Make checkout summary take full width of its column */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkout-details{
    margin: 10px;
    padding-bottom: 10px;
}

.checkout-details2{
    margin: 10px;
    padding-bottom: 10px;
}

.noo{
    padding-bottom: 10px;
}

.summary, .cart {
    /* border: 1px solid #ddd; */
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    width: 100%; 
}

.summary p, .cart div p {
    margin: 5px 0;
}

.terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.terms label {
    margin-left: 8px;
}


.submit {
    width: 50%;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #00a3e7;
    border-radius: 0.5rem;
    border: 1px solid #00a3e7;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .order{
    width: 50%;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #00a3e7;
    border-radius: 0.5rem;
    border: 1px solid #00a3e7;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.submit:hover {
    background: #3095c1;
}


@media (max-width: 768px) { /* Adjust based on screen size */
    .coo {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }
    
    .checkout-form, .checkout-summary {
        width: 100%; /* Ensure they take full width in a single column */
        margin-bottom: 20px; /* Add space between them */
    }
}